{{ if .Site.Params.contact.enable }}
<!-- contact -->
<section class="section section-on-footer" data-background="{{`images/backgrounds/bg-dots.png` | absURL}}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Contact Info</h2>
      </div>
      <div class="col-lg-8 mx-auto">
        <div class="bg-white rounded text-center p-5 shadow-down">
          <h4 class="mb-80">Contact Form</h4>
          <form action="{{.Site.Params.contact.formAction}}" method="POST" class="row">
            <div class="col-md-6">
              <input type="text" id="name" name="name" placeholder="Full Name" class="form-control px-0 mb-4">
            </div>
            <div class="col-md-6">
              <input type="email" id="email" name="email" placeholder="Email Address" class="form-control px-0 mb-4">
            </div>
            <div class="col-12">
              <textarea name="message" id="message" class="form-control px-0 mb-4"
                placeholder="Type Message Here"></textarea>
            </div>
            <div class="col-lg-6 col-10 mx-auto">
              <button class="btn btn-primary w-100">send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->
{{ end }}

<!-- footer -->
<footer class="bg-dark footer-section" style="padding-top: 0;">
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">
       All product names, logos, brands, trademarks and registered trademarks are property of their respective owners.<br>
       All company, product and service names used in this website are for identification purposes only.<br>Use of these names,
       trademarks and brands does not imply endorsement.
    </p>
    <p class="mb-0 text-light">The logo has been designed by &copy; 2019 {{ .Site.Params.logo_author }}</p>
    <p class="mb-0 text-light">Made with {{emojify ":heart:"}} &mdash; Powered by <a href="https://gohugo.io/" target="_blank" rel="external">Hugo</a> and <a href="https://themefisher.com/best-hugo-themes" target="_blank" rel="external">Hugo Themes</a></p>
    <p class="mb-0 text-light">&copy; 2019 <a href="{{ .Site.Params.author_link }}" target="_blank" rel="external">{{ .Site.Params.author }}</a></p>
  </div>
</footer>
<!-- /footer -->

{{ "<!-- Google Map API -->" | safeHTML }}
<script src="{{ .Site.Params.gmapAPI | absURL }}"></script>
{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .URL | absURL }}"></script>
{{ end }}
{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
{{ "<!-- google analitycs -->" | safeHTML }}
<script>
  ga('send', 'pageview');
</script>
